/**
	 * This function Demonstrates <-FUNCTION NAME->(). <br>
	 * 
	 * @exception Catches
	 *                Exception if element not found
	 * @see sTestBasePageDeclaration
	 * @author Bichromate
	 * @version 1.0
	 */
	public boolean <-FUNCTION NAME->() {
		try {
			WebElement element = findElement(<-ELEMENT NAME->);
			if(null != element){
				return (element.isEnabled());
			}else{
				POMLOGGER.enterSevereLog("<-CLASS NAME-> : <-FUNCTION NAME-> element not found");
			}
		} catch (Exception e) {
			POMLOGGER.enterSevereLog("<-CLASS NAME-> : <-FUNCTION NAME-> element not found");
		}
	}//<-FUNCTION NAME->