/**
	 * This function demonstrates <-FUNCTION NAME->(). <br>
	 * Function to click the loginButton <br>
	 * 
	 * @param None
	 * @returns none.
	 * @exception None.
	 * @author Bichromate
	 * @version 1.0
	 */

	public void <-FUNCTION NAME->() {
		try {
			WebElement element = findElement(<-ELEMENT NAME->);
			if(null != element){
				element.click();
			}else{
				POMLOGGER.enterSevereLog("<-CLASS NAME-> : <-FUNCTION NAME-> element not found");
			}
		} catch (Exception e) {
			POMLOGGER.enterSevereLog("<-CLASS NAME-> : <-FUNCTION NAME-> element not found");
		}
	}//<-FUNCTION NAME->