import java.util.Locale;
import java.util.MissingResourceException;
import java.util.ResourceBundle;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.WebElement;
import org.testng.Assert;
import org.testng.Reporter;

import bichromate.core.sTestBasePageDeclaration;